<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/lol.png" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
      <h3>Avez-vous noté tous les jeux vidéo auxquels vous avez joué?</h3>
      <p>Notez-les tous !</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/residentvillage.jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h3>Quels sont les meilleurs jeux de l'année ?</h3>
      <p>Participez au top 2021</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/Nier.jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h3>Quels sont les jeux le mieux noté de tout Origo ?</h3>
      <p>Participez au top 2021</p>
    </div>
  </ng-template>
</ngb-carousel>

















<!-- <mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="accent"
  maxWidth="auto"
  proportion="25"
  slides="5"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#00000040"
    [hideOverlay]="false"
  ><h1>Bienvenue Cavalier</h1></mat-carousel-slide>
</mat-carousel> -->

