<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img mat-card-image src="assets/lol3.jpg" alt="Photo of a Shiba Inu">
  </mat-card>

<h1>Devenez membre de Origo</h1>
<p>Incrivez vous gratuitement en 2 secondes ! On ne postera rien sans votre accord.</p>
<p >
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Placeholder" />
      <mat-icon matSuffix>alternate_email</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Pseudo</mat-label>
      <input matInput placeholder="Placeholder" />
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Mot de passe</mat-label>
      <input matInput placeholder="Placeholder" />
      <mat-icon matSuffix>lock</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <section class="example-section">
    <mat-checkbox class="example-margin">J'accepte les <span>Conditions Générales d'Utilisation</span></mat-checkbox>
  </section>

  <section>
    <div class="example-button-row">
      <button mat-raised-button color="primary">Créer mon compte</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
      <p>Vous avez déjà un compte?</p>
      <button mat-raised-button color="warn">Connexion</button>
    </div>
  </section>

